{{ define "main" }}

<article>
  <header class="page-header">
    <h1 class="page-header__title">{{.Title}}</h1>
    {{with .Params.Regions}}
    <h2 class="page-header__region">Region: {{delimit . " | "}}</h2>
    {{end}} {{with .Params.Topics}}
    <h3 class="page-header__topic">Topic: {{delimit . " | "}}</h3>
    {{end}}
  </header>

  <section class="copy">{{.Content}}</section>
  {{ if .Params.Link}}
  <h5>
    <a class="button button--submit" href="{{.Params.Link}}">{{.Title}}</a>
  </h5>
  {{end}}
</article>

{{ end }}
