{{ define "main" }}
<header class="page-header">
  {{ partial "breadcrumbs.html" . }}
  <h1 class="page-header__title">🧭 {{.Title}}</h1>
  <h2 class="page-header__description heading__5">{{.Description}}</h2>
</header>

{{ with .Content }}
<article class="copy">{{.}}</article>
{{end}}

<nav>
  <ul class="{{ if eq .Section "topics" }} topics {{ else }} regions {{ end}}">
    {{ range sort .Data.Pages "Title" }}
    <li>
      {{ if .Pages }}
        <details>
          <summary>
            <h3><a href="{{.Permalink}}">{{.Title}}</a></h3>
            <span class="count">({{len .Pages}})</span>
          </summary>
          <ul class="subtopics">
            {{ range .Pages }}
            <li>
              <a href="{{.Permalink}}">{{.Title}}</a>
            </li>
            {{ end }}
          </ul>
        </details>
      {{ else }}
        <a href="{{.Permalink}}">{{.Title}}</a>
      {{ end }}
    </li>
    {{ end }}
  </ul>
</nav>
{{ end }}
