:root {
	--theme-border: 2px solid;
	--theme-border-radius: 2px;
	--theme-border--thick: 4px solid;
	--theme-border--highlight: 0.5px solid var(--theme-color--paper);
	--theme-border--underline: 0.5px solid var(--theme-color--ink);
}
