<!-- topics doesn't need lowercase-->
{{ $topics := slice }} {{ range .Params.Topics }} {{ $topics = $topics | append
(replace . " " "-") }} {{ end }} {{$site := .Title}}
<details data-topics='{{ delimit $topics " | " }}' data-cyf="{{.Params.CYF}}">
  <summary>
    <h4>
      {{ $site }} {{with .Params.Link}}<a href="{{.}}"
        >🔗<span class="is-invisible">to {{$site}} site</span></a
      >{{end}}
    </h4>
  </summary>
  {{ with .Params.Description}}
  <h5>{{.}}</h5>
  {{end}}
  <!-- content-->
  {{ .Content}}
  <!-- end content-->
  {{ with .Params.Link}}
  <h5>
    <a class="button button--submit" href="{{.}}">{{$site}}</a>
  </h5>
  {{end}}
</details>
