<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html lang="en-gb">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{.Site.Title}}</title>
    <link rel="favicon" href="/favicon.ico" />
    <meta name="description" content="{{.Site.Params.description}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Raleway:wght@400;800&display=swap"
      rel="stylesheet"
      media="print"
      onload="this.media='all'"
    />
    <!-- 7kb -->
    <style>
      {{ $sass := resources.Match "theme/**.scss" | resources.Concat "styles.css" }}
      {{ $style := $sass | toCSS | minify | fingerprint "md5" }}
      {{ $style.Content | safeCSS }}
    </style>
  </head>
</html>
