{{define "main"}} {{.Content}}
<!-- get all the pages -->
{{ $baseURL := .Site.BaseURL }} {{ $posts := where .Site.RegularPages "Type"
"posts" }} {{ $regions := .Site.Taxonomies.regions}} {{ $topics :=
.Site.Taxonomies.topics }}
<!-- this form doesn't submit anywhere. It just allows the user to filter the existing hidden accordion -->
<form>
  <label for="region">👋 I'm in</label>
  <input list="list-of-regions" id="region" name="region" autocomplete="off" />
  <datalist id="list-of-regions">
    {{ range $regions }}
    <option value="{{.Page.Title }}"></option>
    {{end}}
  </datalist>
  <label for="topic">and I need help with</label>
  <!-- this list is updated with JS -->
  <input
    list=" "
    id="topic"
    name="topic"
    autocomplete="off"
    aria-live="polite"
  />
  <!-- all the topics per region -->
  {{ range $r, $rPosts := $regions }}
  <datalist id="{{ $r }}">
    {{ $topicSet := slice }} {{ range $rPosts.Pages }} {{ range .Params.topics
    }} {{ $topicKey := replace . "-" " " }} {{ if not (in $topicSet $topicKey)
    }} {{ $topicSet = $topicSet | append $topicKey }} {{ end }} {{ end }} {{ end
    }} {{ range sort $topicSet }}
    <option value="{{ . }}"></option>
    {{ end }}
  </datalist>
  {{ end }}
  <!-- now our actions -->
  <button class="button button--submit" type="submit">Signpost</button>
  <button class="button button--icon" type="reset">↻</button>
</form>
<!-- now our content -->
<article aria-live="polite">
  {{ range $region, $regionPosts := $regions }}
  <section data-regions="{{ $region }}">
    <a href="{{$baseURL}}regions/{{$region}}"><h2>📍 {{ $region }}</h2></a>
    {{ range $regionPosts.Pages }} {{ $topic := .Params.topics }} {{ partial
    "details" .}} {{ end }}
  </section>
  {{ end }}
</article>

{{ end}}
